export PATH=$PATH:$(go env GOPATH)/bin
export GRPC_PORT=50051
export HTTP_PORT=5001
export NOMAD_ADDR=http://192.168.1.191:4646
export DATABASE_URL=postgres://iuliansafta@localhost:5432/control_plane?sslmode=disable
export BOOTSTRAP_KEY=admin123
