export PATH=$PATH:$(go env GOPATH)/bin
export GRPC_PORT=50051
export HTTP_PORT=5001
export NOMAD_ADDR=http://192.168.1.191:4646
export DATABASE_URL=postgres://iuliansafta@localhost:5432/control_plane?sslmode=disable
export BOOTSTRAP_KEY=admin123
export JWT_SECRET=generate-a-secure-secrete-with-32-chars

export OTEL_EXPORTER_OTLP_ENDPOINT=https://clickhouse.iulian.cld
export OTEL_EXPORTER_OTLP_PROTOCOL=http
export OTEL_SERVICE_NAME=vorhash-control-plane
export OTEL_EXPORTER_OTLP_HEADERS="authorization=81056bad-086a-4e36-8d57-7f7abec09b8d"
